html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content-page {
    flex: 1 0 auto;
}
.sgds-footer {
    flex-shrink: 0;
}

a[target="_blank"]:after {
    display: inline-block;
    font-family: sgds-icons;
    content: "";
    padding-left: .25rem;
    font-weight: 400;
}
.sgds-masthead a:after{
    content: "";
}